header{
    position: absolute;
    z-index: 10;
    width: 100%;
  }
  
  .selector-for-some-widget {
    box-sizing: content-box;
    }
  .navbar{
    padding: 20px 0;
  }
  .navbar-brand{
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2em;
    color: #262626;
  }
  .nav-item{
    font-weight: 800;
    text-transform: uppercase;
  }
  .navbar-light .navbar-nav .nav-item .nav-link:hover,
  .navbar-light .navbar-nav .nav-item .nav-link.active{
    background: #262662;
    color: #fff;
  }
  
  .navbar-light .navbar-nav .nav-item .nav-link{
    color: #262626;
    padding: 5px 15px;
  }
  .navbar-light .navbar-toggler{
    border: none;
    color:#fff;
    border: 2px solid #7f7f7f;
    border-radius: 0;
    outline: none;
  }
  .navbar-collapse{
    background:transparent;
  }

  .all{
      background: url(../images/buildings2.jpg) repeat fixed;
      background-size: cover;
      min-height: 100vh;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .newsletter{
      background: linear-gradient(125deg, #778beb, #f8a5ce);
      min-width: 500px;
      max-width: 1000px;
      margin-top: 10%;
      margin-bottom: 10%;
      /* max-width: 1000px; */
      padding: 60px;
      text-align: center;
      box-shadow: 0 0 20px #00000060;
  }

  .newsletter h1{
      text-transform: uppercase;
      color: #fff;
      font-size: 48px;
      line-height: 40px;
  }

  .newsletter h1 span{
      display: block;
      font-size: 38px;
  }

  .newsletter p{
      color: #fff;
      font-size: 14px;
      margin: 10px 0;
  }

  .txtb{
      width: 100%;
      height: 70px;
      background: #f1f1f199;
      border-radius: 40px;
      position: relative;
      margin-top: 40px;
      margin-bottom: 20px;
  }

  .txtb input{
      width: 100%;
      height: 70px;
      border-radius: 40px;
      border: 0;
      background: none;
      padding: 0 30px;
      outline: none;
      font-size: 15px;
      padding-right: 80px;
  }

  .txtb button{
      background: #574b90;
      border: 0;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      position: absolute;
      right: 10px;
      top: 10px;
      outline: none;
      cursor: pointer;
      color: #fff;
      transition: 0.3s linear;
  }

  .txtb button:hover{
      opacity: .5;
  }

