body{
    position: relative;
    background: url(../images/dark.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    transition: 0.5s;
}
section{
    margin: 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 200px;
    transition: 0.5s;
}
body.dark{
    position: relative;
    background: url(../images/buildings.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    color: #fff;
}
h3.dark{
    background: #fff;
    color: #262626;
}
header{
    position: absolute;
    z-index: 10;
    width: 100%;
}

.selector-for-some-widget {
    box-sizing: content-box;
}
.navbar{
    padding: 20px 0;
}
.navbar-brand{
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2em;
    color: #262626;
}
.nav-item{
    font-weight: 800;
    text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item .nav-link.active{
    background: #262662;
    color: #fff;
}

.navbar-light .navbar-nav .nav-item .nav-link{
    color: #262626;
    padding: 5px 15px;
}
.navbar-light .navbar-toggler{
    border: none;
    color:#fff;
    border: 2px solid #7f7f7f;
    border-radius: 0;
    outline: none;
}
.navbar-collapse{
    background:transparent;
}
#theme1{
    position: absolute;
    /* top: 20px;
    right: 20px; */
    margin: 0;
    padding: 0;
    width: 100px;
    height: 30px;
    z-index: 1;
    border: 1px solid #000;
    cursor: pointer;
    overflow: hidden;
    margin-top: 2em;
}
#theme1.active{
    border-color: #fff;
}
#theme2{
    list-style: none;
    width: 100%;
    height: 60px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
}
ul li span{
    display: block;
    width: 100%;;
    height: 30px;
    line-height: 30px;
    color: #262626;
    background: #fff;
}
ul li span:nth-child(1){
    background: #262626;
    color: #fff;
}
#theme1.active #theme2{
    transform: translateY(-30px);
}
.accordion__button{
    display: block;
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #262626;
    color: #fff;
    text-align: left;
    transition: background 0.5s;
}
.accordion__button::after{
    float: right;
    transform: scale(1.5);
    transition: 0.5s;
}
.accordion__button--active + .accordion__content{
    display: block;
    transition: 0.5s;
}
.accordion__button--active{
    background: #262626;
    transition: 0.5s;
}
.accordion__button--active::after{
    transition: 0.5s;
}
.content{
    /* overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s; */
    padding: 0 15px;
    font-family: sans-serif;
    
    background: white;
    opacity: 0.7;
    display: none;
    
}

