header{
  position: absolute;
  z-index: 10;
  width: 100%;
}

.selector-for-some-widget {
  box-sizing: content-box;
  }
.navbar{
  padding: 20px 0;
}
.navbar-brand{
  font-weight: 800;
  text-transform: uppercase;
  font-size: 2em;
  color: #262626;
}
.nav-item{
  font-weight: 800;
  text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item .nav-link.active{
  background: #262662;
  color: #fff;
}

.navbar-light .navbar-nav .nav-item .nav-link{
  color: #262626;
  padding: 5px 15px;
}
.banner{
  position: relative;
  background: url(../images/bg.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 250px 0 200px;
}
.banner h2{
  margin: 0;
  padding: 0;
  font-size: 2.8em;
  font-weight: 1000;
  color: #ece3e3;
  text-transform: uppercase;
}
.banner p{
  margin: 1em 0 0;
  padding: 0;
  font-size: 1.2em;
  text-transform: uppercase;
  line-height: 1.5em;
  color: #ece3e3;
}
.navbar-light .navbar-toggler{
  border: none;
  color:#fff;
  border: 2px solid #7f7f7f;
  border-radius: 0;
  outline: none;
}
.navbar-collapse{
  background:transparent;
}
.box{
  margin: 7em 0 0;

  width: 300px;
  padding: 40px;
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  background: transparent;
  text-align: center;
}
.box h1{
  font-size: 2.8em;
  font-weight: 1000;
  color: #ece3e3;
  text-transform: uppercase;
  
}
.box input[type = "text"],.box input[type = "password"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: whitesmoke;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  width: 280px;
  border-color: #2ecc71;
}
.box button[type = "submit"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box button[type = "submit"]:hover{
  background: #2ecc71;
}
@media (max-width: 768px){
  .banner{
    padding: 200px 0;
  }
  .banner h2{
    font-size: 1.8em ;
  }
}

