<!DOCTYPE html>
{% load static %}
<html>
    <head>
        {% include 'navbar/head.html' %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>Story6_Kukuh</title>
    </head>
    <body>
        <header>
            {% block navbar %}
            {% with current_nav='index' %}
            {% include 'navbar/navbar.html' %}
            
            {% endwith %}
            {% endblock navbar %}
        </header>
        <section class="banner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        {% if user.is_authenticated %}
                        <h2>Hello {{ user.username }}, How are you?</h2>
                        {% else %}
                        <h2>Hello, How are you?</h2>
                        {% endif %}
                        {% for i in status %}
                        <p>{{ i.status }} <br>
                            {{ i.date }}
                        </p>
                        {% endfor %}
                    </div>
                    <div class="col-sm-6">
                        <form class="box" action="" method="post">
                            {% csrf_token %}
                            <h1>status</h1>
                            {% for status in form %}
                            <div class="form-group">
                                {{ status }}
                            </div>
                            {% endfor %}
                            <button type="submit" id = "submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>