<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        {% include 'navbar/head.html' %}
        <link rel="stylesheet" href="{% static 'css/search.css' %}">
        <title>Story6_Kukuh</title>
    </head>
<body>
    <header>
        {% block navbar %}
        {% with current_nav='search' %}
        {% include 'navbar/navbar.html' %}
        
        {% endwith %}
        {% endblock navbar %}
    </header>
    <div class="all" id="demo">
        <div class="newsletter">
            <h1>
                Book
                <span>Catalogue</span>
            </h1>
            <p>Search for your favorite book here!</p>
            <div class="txtb">
                <input type="search" id="search" placeholder="Type to Search">
                <button type="button" id="button" ><i class="fas fa-search"></i></button>
            </div>
            <table class="table"></table>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
    <script src="{% static 'js/script.js' static %}"></script>
        

    
</body>
</html>