<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% include 'navbar/head.html' %}
    <link rel="stylesheet" href="{% static 'css/story.css' %}">
    <title>Story</title>
</head>
<body>
    <header>
        {% block navbar %}
        {% with current_nav='story' %}
        {% include 'navbar/navbar.html' %}
        
        {% endwith %}
        {% endblock navbar %}
    </header>
    
        <section class="banner">
            <div id="accordion">
                <h3 class="accordion__button">Activities</h3>
                <div class="content">
                    <p>Staff at Sports Departement in BEM Fasilkom UI</p>
                    <p>Students at Fasilkom UI</p>
                </div>
                <h3 class="accordion__button">Organization and Experiences</h3>
                <div class="content">
                    <p>Sport Departement Staff BEM Fasilkom UI (2019)</p>
                    <p>Event Staff Computer Science League Fasilkom UI (2019)</p>
                    <p>Decoration and Costume Staff COMPFEST Fasilkom UI (2019)</p>
                    <p>Documentation and Creative Staff SIWAK-NG Fasilkom UI (2019)</p>
                </div>
                <h3 class="accordion__button">Achievements</h3>
                <div class="content">
                    <p>No Achievements Yet</p>
                </div>
            </div>
            <div>
                <ul id="theme1">
                    <li id="theme2">
                        <span>Dark</span>
                        <span>Light</span>
                    </li>
                </ul>
            </div>
        </section>
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $('#theme1').click(function(){
                    $('#theme1').toggleClass('active')
                    $('body').toggleClass('dark')
                    $("h3").toggleClass('dark')
                })
            })    
        </script>
        <script>
            $( function() {
              $( "#accordion" ).accordion({
                collapsible: true
              });
            } );
        </script>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
</body>
</html>

