body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(../img/boban-simonovski-44t-fDJmqy4-unsplash.jpg) fixed;
    background-size: cover;
    background-position: center;
}
.login-box{
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}
.login-box h1{
    float: left;
    font-size: 40px;
    border-bottom: 6px solid #4caf50;
    margin-bottom: 50px;
    padding: 13px 0;
}
.textbox{
    width: 100%;
    /* color: white; */
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 2px solid #4caf50;
}
.input{
    border: none;
    outline: none;
    background:none;
    /* opacity: 0.5; */
    color: white;
    font-size: 18px;
    width: 100%;
    float: none;
}
.btn{
    width: 100%;
    background: none;
    border: 2px solid #4caf50;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}
.btn:hover{
    background: #4caf50;
}
@media (max-width: 768px){
    .body{
      padding: 200px 0;
    }
    .banner h2{
      font-size: 1.8em ;
    }
  }