body{
    background: url(../img/registerbg.jpg) repeat fixed;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.newsletter{
    background: linear-gradient(125deg, #296596, #eb2d97);
    min-width: 500px;
    max-width: 1000px;
    margin-top: 10%;
    margin-bottom: 10%;
    /* max-width: 1000px; */
    padding: 60px;
    text-align: center;
    box-shadow: 0 0 20px #00000060;
}

.newsletter h1{
    text-transform: uppercase;
    color: #fff;
    font-size: 48px;
    line-height: 40px;
}

.newsletter h1 span{
    display: block;
    font-size: 38px;
}

.newsletter p{
    color: #fff;
    font-size: 14px;
    margin: 10px 0;
}

.txtb{
    width: 100%;
    height: 70px;
    background: #f1f1f199;
    border-radius: 40px;
    position: relative;
    margin-top: 40px;
    margin-bottom: 20px;
}

.newsletter input{
    
    height: 30px;
    background: whitesmoke;
    opacity: 0.5;
    border: 0;
    padding: 0 30px;
    outline: none;
    font-size: 15px;
    padding-right: 80px;
}

.btn{
    width: 20%;
    background: none;
    border: 2px solid #4caf50;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
    border-radius: 2%;
}

.btn:hover{
    background: #4caf50;
}
