<div class="container">
    <nav class="navbar  navbar-expand-lg navbar-light ">
        <!-- <a class="navbar-brand" href="{% url 'special:special' %}">kukuh.</a> -->
        <a class="navbar-brand" href="#">kukuh.</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-lg-auto">
               
                <li class="nav-item">
                    <a class="{% if current_nav == 'index' %}nav-link active{% endif %} nav-link" href="{% url 'app6:index' %}">Home</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="{% if current_nav == 'story' %}nav-link active{% endif %} nav-link" href="{% url 'app6:story' %}">Story</a>
                </li>
                <li class="nav-item">
                    <a class="{% if current_nav == 'search' %}nav-link active{% endif %} nav-link" href="{% url 'app6:search' %}">Search</a>
                </li>
                <li class="nav-item">
                    <a class="{% if current_nav == 'login' %}nav-link active{% endif %} nav-link" href="{% url 'accounts:logout' %}" id="logout">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="{% if current_nav == 'login' %}nav-link active{% endif %} nav-link" href="{% url 'accounts:login_url' %}">Login</a>
                </li>
                {% endif %}
            </ul>
            
        </div>
    </nav>
</div>