<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
        {% include 'navbar/head2.html' %}
        <link rel="stylesheet" href="{% static 'css/register.css' %}">
        <title>Simple Auth System</title>
</head>
<body>
        <div class="all" id="demo">
                <div class="newsletter">
                    <h1>Create New Account</h1>
                            <form method="POST">
                                    {% csrf_token %}
                                {{form.as_p}}
                                <button class="btn">Register</button>
                                <a class="btn" href="{% url 'accounts:login_url' %}">Sign In</a>

                            </form>
                </div>
            </div>
    
</body>
</html>

